html, body {
	background-color: white;
	height: 100%;
	width: 100%;
}

@font-face {
	font-family: 'digi';
	src: url('/fonts/digital-7.tff');
}

#mainclock {
	color: black;
	font-family: 'digi', sans-serif;
	font-size: 18em;
	margin-top: -0.075em;
	margin-bottom: 0;
}

#maintimercontainer {
	border-left: 5px solid black;
	border-right: 5px solid black;
	height: 25%;
}

#tournament {
	margin-top: 1em;
}

#bottom {
	height: 25%;
	border-top: 5px solid black;
}

#tournamentlogo {
	height: 75%;
	margin: 0 auto;
}

#tournamenttitle {
	font-family: 'Syncopate', sans-serif;
	color: black;
	padding-bottom: 1em;
}

#shotclockcontainer {
	padding-top: -1.5em;
	border-right: 10px solid black;
}

#shotclock {
	color: black;
	font-family: 'Syncopate';
	margin-top: 0;
	font-size: 2.5em;
}

#shotclocktimer {
	color: black;
	font-size: 12em;
	font-family: 'digi', sans-serif;
	margin-bottom: 0;
}

.score {
	color: black;
}

.scorenumber {
	font-family: 'Exo 2', sans-serif;
	font-size: 25em;
}

#teamhome {
	border-right: 5px solid black;
}

#teamaway {
	border-left: 5px solid black;
}

.teamlabel {
	font-family: 'Syncopate', sans-serif;
	font-size: 6em;
}

#scores {
	height: 50%;
	border-bottom: 5px solid black;
}

.vertical-center {
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}