html, body {
	background-color: black;
}

#mainclock {
	color: white;
	font-family: 'Source Code Pro', sans-serif;
	font-size: 10em;
}

#tournamentlogo {
	height: 15em;
	margin-top: 2em;
	margin: 0 auto;
}

#tournamenttitle {
	font-family: 'Syncopate', sans-serif;
	color: white;
	border-bottom: 5px solid white;
	padding-bottom: 1em;
}

.scores {
	color: white;
	font-family: 'Syncopate', sans-serif;
}