html, body {
	height: 100%;
	background-color: black;
}

.timerbutton {
	height: 10em;
	width: 90%;
}

#maintitle {
	color: white;
	font-family: 'Marvel', sans-serif;
}

#start {
	background-color: green;
}

#stop {
	background-color: red;
}

#timerstatus {
	margin-top: 1em;
	color: white;
	font-size: 1.2em;
	font-family: 'Hammersmith One', sans-serif;
}